.upper_part {
  padding: 100px 0 60px;
  background: url("../upload/ban3.jpg") center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.contact_info p {
  color: #ccc !important;
}
.info_widget {
  margin-bottom: 40px;
  text-align: center;
}
.info_widget h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 25px;
}
.info_widget p {
  margin-bottom: 15px;
  color: #ccc !important;
}
.info_widget p span {
  color: #f4b350;
  display: block;
}
.info_widget p span.time {
  color: #fff;
}
.info_widget ul.social_icons {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.info_widget ul.social_icons li {
  display: inline-block;
  margin: 0 3px;
}
.info_widget ul.social_icons li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #bbb;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  color: #bbb;
}

.info_widget ul.social_icons li a:hover {
  color: #fff;
  border-color: transparent;
  background: #f4b350;
}
#contact_section .map {
  height: 380px;
}
#contact_form {
  margin: 0;
  padding-top: 7px;
}
#contact_form input[type="text"],
#contact_form textarea {
  display: block;
  width: 100%;
  padding: 11px 20px;
  background: #ffffff;
  color: #999999;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  outline: none;
  border: 1px solid transparent;
  margin: 0 0 10px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#contact_form textarea {
  height: 90px;
}
#contact_form input[type="submit"] {
  color: #999999;
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #999999;
  padding: 10px 40px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#contact_form input[type="submit"]:hover {
  background: #f4b350;
  border-color: transparent;
  color: #ffffff;
}
.submit_area {
  text-align: center;
}
.alert_success,
.alert_danger {
  padding: 10px 20px;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
