.title_section {
  margin-bottom: 50px;
}
.gal_project {
  width: 25%;
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
}
.gal_project_img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  /* min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  max-width: 100%; */
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.hover_gal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.8);
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.inner_gal {
  width: 100%;
}
.inner_gal h2 {
  color: #f4b350;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.inner_gal span {
  display: inline-block;
  color: #aaa;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.gal_project:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.gal_project:hover .hover_gal {
  opacity: 1;
  visibility: visible;
}
.filter {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  text-align: center;
}
.filter li {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 5px;
}
.filter li span {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #999999;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.filter li span:hover,
.filter li span.active {
  color: #f4b350;
}
.filter li:before {
  content: "/";
  display: inline-block;
  color: #bbb;
  font-size: 11px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-right: 10px;
}
.filter li:first-child:before {
  display: none;
  margin-right: 0;
}

@media (min-width: 992px) {
  .gal_project {
    width: 25%;
  }
  .gal_project_img {
    width: 25vw;
    height: 25vw;
  }
}

@media (max-width: 991px) {
  .gal_project {
    width: 33.3333vw;
  }
  .gal_project_img {
    width: 33.3333vw;
    height: 33.3333vw;
  }
}

@media (max-width: 767px) {
  .gal_project {
    width: 50vw;
  }
  .gal_project_img {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 500px) {
  .gal_project {
    width: 100vw;
    text-align: center;
  }
  .gal_project_img {
    width: 100vw;
    height: 100vw;
  }
}
