.menu_item_img {
  width: 70px;
  height: 70px;
}

.btn_add_to_cart {
  background-color: #f4b350;
  padding: 3px 10px;
  margin-top: 10px;
  color: white !important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* ============ CSS from global.css ============ */

#menu_section {
  padding: 100px 0;
}
.nav_tabs {
  border: none;
  text-align: center;
}
.nav_tabs li {
  float: none;
  display: inline-block;
  margin-left: -3px;
  margin-right: -3px;
}
.nav_tabs li a {
  display: inline-block;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 12px 30px;
  margin: 0 4px !important;
  background: #f4b350;
  border: 1px solid transparent;
  border-bottom: none;
}
.active a {
  background: #fff !important;
  color: #222222 !important;
  border: 1px solid #efefef !important;
  border-bottom: none !important;
  margin-bottom: -1px !important;
}
.tab_content {
  padding: 60px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 25px 35px #f7f7f7;
  -webkit-box-shadow: 0 25px 35px #f7f7f7;
  -moz-box-shadow: 0 25px 35px #f7f7f7;
  -o-box-shadow: 0 25px 35px #f7f7f7;
}
.menu_list_items {
  margin: 0;
  padding: 0;
}
.menu_list_items li {
  display: block;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.list_image {
  float: left;
  width: 70px;
  position: relative;
}
.list_image img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* .list_image span {
  position: absolute;
  top: -2px;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #f4b350;
  color: #fff;
  font-size: 8px;
  text-transform: uppercase;
  margin: 0;
} */
.list_content {
  margin-left: 100px;
  padding-top: 8px;
}
.list_content h2 {
  color: #222222;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 10px;
  line-height: 20px;
}
.list_content h2 span {
  float: right;
  color: #f4b350;
}
.list_content p {
  max-width: 360px;
  font-size: 14px;
  margin-bottom: 0;
}
.menu_list_items li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
